//fade 1s
.fade-750ms-appear {
  opacity: 0;
  transition: opacity 750ms;
}
.fade-750ms-appear-active {
  opacity: 1;
  transition: opacity 750ms;
}

.fade-750ms-enter {
  opacity: 0;
  transition: opacity 750ms;
}

.fade-750ms-enter-active {
  opacity: 1;
  transition: opacity 750ms;
}

.fade-750ms-exit {
  opacity: 1;
  transition: opacity 750ms;
}

.fade-750ms-exit-active {
  opacity: 0;
  transition: opacity 750ms;
}

.fade-750ms-exit-done {
  opacity: 0;
  transition: opacity 750ms;
}

.fade-500ms-enter {
  opacity: 0;
  transition: opacity 500ms;
}

.fade-500ms-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-500ms-exit {
  opacity: 1;
}

.fade-500ms-exit-active {
  opacity: 0;
}

.fade-500ms-exit-done {
  opacity: 0;
}

.NoFeedsEnabled-Fade-enter {
  opacity: 0;
  transition: opacity 1000ms;
}

.NoFeedsEnabled-Fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.NoFeedsEnabled-Fade-exit {
  opacity: 1;
}

.NoFeedsEnabled-Fade-exit-active {
  opacity: 0;
}

.NoFeedsEnabled-Fade-exit-done {
  opacity: 0;
}

.fade-250ms-enter {
  opacity: 0;
  transition: opacity 250ms;
}

.fade-250ms-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}

.fade-250ms-exit {
  opacity: 1;
  transition: opacity 250ms;
}

.fade-250ms-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}

.fade-250ms-exit-done {
  opacity: 0;
  transition: opacity 250ms;
}

.fade-controllUI-1s-enter {
  opacity: 0;
  transition: opacity 1000ms;
}

.fade-controllUI-1s-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-controllUI-1s-exit {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-controllUI-1s-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.fade-controllUI-1s-exit-done {
  opacity: 0;
  transition: opacity 500ms;
}

//fade 300ms
.fade-300ms-enter {
  opacity: 0;
}

.fade-300ms-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-300ms-exit {
  opacity: 1;
}

.fade-300ms-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.fade-300ms-exit-done {
  opacity: 0;
}

//New Streams/Vods
.videoFadeSlide-appear {
  opacity: 0;
  transition: opacity 750ms;
}
.videoFadeSlide-appear-active {
  opacity: 1;
  transition: opacity 750ms;
}

.videoFadeSlide-enter {
  opacity: 0;
  width: 0px !important;
  max-width: 0px !important;
  left: -336px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  transition: opacity 750ms, margin-left 750ms, width 750ms, margin-right 750ms, max-width 750ms,
    left 750ms;
}

.videoFadeSlide-enter-active {
  opacity: 1;
  width: 336px !important;
  max-width: 336px !important;
  left: 0;
  margin-right: 7px !important;
  margin-left: 7px !important;
  transition: opacity 750ms, margin-left 750ms, width 750ms, margin-right 750ms, max-width 750ms,
    left 750ms;
}

.videoFadeSlide-enter-done {
  opacity: 1;
  transition: opacity 750ms;
}

.videoFadeSlide-exit {
  opacity: 1;
  width: 336px !important;
  max-width: 336px !important;
  left: 0;
  margin-right: 7px !important;
  margin-left: 7px !important;
  transition: opacity 750ms, margin-left 750ms, width 750ms, margin-right 750ms, max-width 750ms,
    left 750ms;
}

.videoFadeSlide-exit-active {
  opacity: 0;
  width: 0px !important;
  max-width: 0px !important;
  left: -336px;
  margin-right: 0px !important;
  margin-left: 0px !important;
  transition: opacity 750ms, margin-left 750ms, width 750ms, margin-right 750ms, max-width 750ms,
    left 750ms;
}

.NavSidebarBackdropFade-enter {
  opacity: 0;
}

.NavSidebarBackdropFade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.NavSidebarBackdropFade-exit {
  opacity: 1;
}

.NavSidebarBackdropFade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

//fade 0.2s for RoutesFades.
.RoutesFade-enter {
  opacity: 0;
}

.RoutesFade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.RoutesFade-exit {
  opacity: 1;
}

.RoutesFade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in, transition;
}

//NavSidebarSlideRight 1s
.NavSidebarSlideRight-enter {
  opacity: 0;
  //max-width: 0px;
  right: -400px;
  transition: opacity 300ms, right 500ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @media screen and (max-width: 1920px) {
    right: -300px;
  }
}

.NavSidebarSlideRight-enter-active {
  opacity: 1;
  right: 0;
  transition: opacity 300ms, right 500ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.NavSidebarSlideRight-exit {
  opacity: 1;
  right: 0;
  transition: opacity 300ms, right 500ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.NavSidebarSlideRight-exit-active {
  opacity: 0;
  right: -400px;
  transition: opacity 300ms, right 500ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @media screen and (max-width: 1920px) {
    right: -300px;
  }
}

.NavSidebarSlideRight-enter-done {
  right: 0;
}

//sidebarVideoFade 1s
.sidebarVideoFade-1s-enter {
  opacity: 0;
  top: 62px;
  height: 0px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarVideoFade-1s-enter-active {
  opacity: 1;
  top: 0;
  height: 62px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarVideoFade-1s-exit {
  opacity: 1;
  //top: 0;
  height: 62px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarVideoFade-1s-exit-active {
  opacity: 0;
  //top: 62px;
  height: 0px;
  transition: opacity 1000ms, top 1000ms, height 1000ms;
}

.sidebarTitlePopup-enter {
  opacity: 0;
  left: 0;
  transition: opacity 350ms cubic-bezier(0.79, 0.17, 0.73, 0.24),
    left 1000ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-enter-active {
  opacity: 1;
  left: 275px;
  transition: opacity 350ms cubic-bezier(0.79, 0.17, 0.73, 0.24),
    left 1000ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-exit {
  opacity: 1;
  left: 275px;
  transition: opacity 350ms cubic-bezier(0.79, 0.17, 0.73, 0.24),
    left 1000ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-exit-active {
  opacity: 0;
  left: 0;
  transition: opacity 350ms cubic-bezier(0.79, 0.17, 0.73, 0.24),
    left 1000ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

.sidebarTitlePopup-enter-done {
  left: 275px;
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.79, 0.17, 0.73, 0.24),
    left 1000ms cubic-bezier(0.23, 0.82, 0, 0.7);
}

//Twitter
.twitter-slide-enter {
  opacity: 0;
  right: -15vw !important;
  transition: opacity 375ms, right 750ms;

  @media screen and (max-width: 3420px) {
    right: -20vw;
  }
}

.twitter-slide-enter-active {
  opacity: 1;
  right: 25px !important;
  transition: opacity 375ms, right 750ms;
}

.twitter-slide-exit {
  opacity: 1;
  right: 25px !important;
  transition: opacity 375ms, right 750ms;
}

.twitter-slide-exit-active {
  opacity: 0;
  right: -15vw !important;
  transition: opacity 375ms, right 750ms;

  @media screen and (max-width: 3420px) {
    right: -20vw;
  }
}

.twitter-slide-enter-done {
  right: 25px !important;
  transition: opacity 375ms, right 750ms;
}

.twitter-slide-appear-active {
  right: 25px !important;
  transition: opacity 500ms, right 750ms;
}

//fade 1s
.twitchSidebar-appear {
  opacity: 0;
  left: -275px !important;
  transition: opacity 500ms, left 750ms;
}
.twitchSidebar-appear-active {
  opacity: 1;
  left: 0 !important;
  transition: opacity 500ms, left 750ms;
}
.twitchSidebar-appear-done {
  opacity: 1;
  left: 0 !important;
  transition: opacity 500ms, left 750ms;
}

.twitchSidebar-enter {
  opacity: 0;
  left: -275px !important;
  transition: opacity 500ms, left 750ms;
}
.twitchSidebar-enter-done {
  opacity: 1;
  left: 0 !important;
  transition: opacity 500ms, left 750ms;
}

.twitchSidebar-enter-active {
  opacity: 1;
  left: 0 !important;
  transition: opacity 500ms, left 750ms;
}

.twitchSidebar-exit {
  opacity: 1;
  left: 0 !important;
  transition: opacity 500ms, left 750ms;
}

.twitchSidebar-exit-active {
  opacity: 0;
  left: -275px !important;
  transition: opacity 500ms, left 750ms;
}

.twitchSidebar-exit-done {
  opacity: 0;
  left: -275px !important;
  transition: opacity 500ms, left 750ms;
}
