$greyInfo: rgb(151, 151, 151);
$videoTitle: rgb(240, 240, 240);

html,
html[data-theme="original"] {
  --backgroundImg: url("/images/woodCoffe-blur4.0.webp");
  --backgroundImgSize: cover;
  --backgroundImgRepeat: no-repeat;
  --VideoContainerLinks: rgb(175, 175, 175);
  --VideoContainerLinksHover: #ffffff;
  --videoTitle: rgb(240, 240, 240);
  --videoTitleHover: rgb(255, 255, 255);
  --VideoContainerViewers: rgb(255, 255, 255);
  --footerLinkColor: #fff;
  --footerLinkHoverColor: #bd3d0a;
  --footerShadow: 0 0 100px 0 black;
  --navLogoTextColor: rgb(240, 240, 240);
  --navTextColor: rgba(255, 255, 255, 0.5);
  --navTextHoverColor: rgba(255, 255, 255, 1);
  --navTextColorActive: rgba(255, 255, 255, 1);

  --navigationbarBackground: #050a0fc7;
  --navSidebarColor: white;
  --sidebarBackground: #050a0fc7;
  --twitchSidebarItemAnimationColor: #aaaaaa;
  --twitchSidebarItemBorderColor: #3d3d3d;
  --newHighlightColor: #ffffff;
  --newStreamBackgroundColor: #ffffff;
  --popupListsBackground: #000000c7;

  --refreshButtonBackground: #00000026;
  --refreshButtonBorder: thin solid #2d2d2d;
  --refreshButtonColor: #acafb1;
  --refreshButtonHoverBackground: #00000067;
  --refreshButtonHoverColor: #ffffff;
  --refreshButtonHoverBorder: 1px solid #00000026;
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --scrollbarColors: rgb(33, 53, 66) rgb(5, 8, 10);
  --scrollbarWidth: thin !important;

  --subFeedHeaderBorder: 2px solid #bebebe29;
  --subFeedHeaderColor: rgb(163, 163, 163);
  --BodyGeneralTextColor: rgb(240, 240, 240);

  --unseenNotifcationCountBackground: rgb(170, 0, 0);
  --VideoContainerLinkShadow: 0px 0px 0px black;

  --footerMargin: 100px;
  --themeSelectorBackgroundColor: white;
  --videoBoxShadow: rgba(0, 0, 0, 0.4) 4px 4px 8px;
  --twitterBackground: #1010108c;
  --footerBackground: hsla(0, 0%, 0%, 0.5);
}

html[data-theme="christmas"] {
  --backgroundImg: url("/images/wood-christmas-blured.webp");
  --VideoContainerLinks: rgb(151, 151, 151);
  --VideoContainerLinksHover: rgb(255, 255, 255);
  --VideoContainerViewers: rgb(255, 255, 255);
  --footerLinkColor: rgb(224, 224, 224);
  --footerLinkHoverColor: white;
  --footerShadow: 0 0 20px 0 #141414;
  --greyInfo: rgb(255, 255, 255);
  --navLogoTextColor: rgb(240, 240, 240);
  --navTextColor: rgba(255, 255, 255, 0.5);
  --navTextColorActive: rgba(255, 255, 255, 1);
  --navigationbarBackground: rgba(0, 0, 0, 0.75);
  --popupListsBackground: #000000e3;
  --refreshButtonBackground: #0000007a;
  --refreshButtonBorder: none;
  --refreshButtonColor: #a8a8a8;
  --refreshButtonHoverBackground: #333435;
  --refreshButtonHoverColor: #ffffff;
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --scrollbarColors: rgb(240, 240, 240) rgb(43, 31, 31);
  --sidebarBackground: rgba(5, 5, 5, 0.9);
  --subFeedHeaderBorder: 2px solid #80808029;
  --subFeedHeaderColor: #ffffff;
  --BodyGeneralTextColor: rgb(240, 240, 240);
  --videoTitle: rgb(240, 240, 240);
  --videoTitleHover: rgb(240, 240, 240);
  --newHighlightColor: #ffffff;
  --VideoContainerLinkShadow: 0px 0px 0px black;
}

html[data-theme="new year's eve"] {
  --backgroundImg: url("/images/new years eve33.webp");
  --footerShadow: 0 0 50px 0 #242424;
  --refreshButtonHoverBackground: #000000b2;
  --scrollbarColors: rgb(18, 36, 58) rgb(5, 8, 10);
}

html[data-theme="clean"] {
  --backgroundImg: url("/images/clean.png");
  --navigationbarBackground: #1f2326;
  --sidebarBackground: #1c1f22;
  --scrollbarColors: #1c1f22 rgb(5, 8, 10);
}

html[data-theme="stone"] {
  --backgroundImg: url("/images/stone.webp");
  --navigationbarBackground: #121415a8;
  --sidebarBackground: #121415a8;
  --scrollbarColors: #1c1f22 rgb(5, 8, 10);
}

html[data-theme="simple dark"] {
  --backgroundImg: none;
  --backgroundColor: #101010;
  --scrollbarColors: #1c1f22 rgb(5, 8, 10);

  --navigationbarBackground: #2e2e2e45;
  --sidebarBackground: #2e2e2e45;
  --navTextColor: rgba(255, 255, 255 0.7);
  --videoBoxShadow: rgba(63, 63, 63, 0.4) 4px 4px 8px;
  --twitterBackground: #3d3d3d44;
}

html[data-theme="light"] {
  --backgroundImg: none;
  --backgroundImgSize: unset;
  --backgroundImgRepeat: unset;
  --backgroundColor: #f1f1f1;

  --VideoContainerLinks: rgb(32, 32, 32);
  --VideoContainerLinksHover: #464646;

  --videoTitle: rgb(0, 0, 0);
  --videoTitleHover: rgb(24, 24, 24);

  --VideoContainerViewers: rgb(0, 0, 0);
  --footerLinkColor: rgb(0, 0, 0);
  --footerLinkHoverColor: #bd3d0a;
  --footerShadow: none;
  --navLogoTextColor: rgb(10, 10, 10);
  --navTextColor: rgb(10, 10, 10);
  --navTextHoverColor: rgb(75, 75, 75);
  --navTextColorActive: rgb(75, 75, 75);
  --homeLogoH1Color: rgb(10, 10, 10);
  --homeLogoPColor: rgb(10, 10, 10);

  --navigationbarBackground: #ffffffe1;
  --navSidebarColor: black;
  --sidebarBackground: #ffffffe1;
  --newHighlightColor: #ffffff;
  --newStreamBackgroundColor: #ffffff;
  --popupListsBackground: #;

  --refreshButtonBackground: rgb(230, 230, 230);
  --refreshButtonBorder: thin solid #eeeeee;
  --refreshButtonColor: #2a2a2a;
  --refreshButtonHoverBackground: rgb(255, 255, 255);
  --refreshButtonHoverColor: #1d1d1d;
  --refreshButtonHoverBorder: 1px solid rgb(255, 255, 255);
  --refreshButtonShadow: 4px 4px 5px 0px #000c;
  --scrollbarColors: rgb(33, 53, 66) rgb(5, 8, 10);
  --scrollbarWidth: thin !important;

  --subFeedHeaderBorder: 2px solid #29292988;
  --subFeedHeaderColor: rgb(31, 31, 31);
  --BodyGeneralTextColor: rgb(240, 240, 240);

  --unseenNotifcationCountBackground: rgb(170, 0, 0);
  --VideoContainerLinkShadow: 0px 0px 0px black;

  --footerMargin: 100px;
  --twitchSidebarBorderAnimationColor: black;
  --themeSelectorBackgroundColor: #d1d0d0;
  --footerBackground: #00000021;

  --videoTitle: rgb(15, 15, 15);
  --twitterBackground: #ffffff;
}
